@model IEnumerable<Sait2022.Domain.Model.Questions>

@{
    ViewData["Title"] = "Вопросы и ответы";
}

<h1>Вопросы и ответы</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Тема вопроса</h5>
            </th>
            <th>
                <h5>Ранг</h5>
            </th>
            <th>
                <h5>Вопрос</h5>
            </th>
            <th>
                <h5>Ответ</h5>
            </th>
            <th>
                <h5>Файл</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsTopic.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rangs.RangQuest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueQuest)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ValueAnswer)
            </td>
            <td>
                <a href="@item.Path" target="_blank">@item.Name</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
