
@model IEnumerable<Sait2022.Domain.Model.Users>

@{
    ViewData["Title"] = "Личный кабинет";
}


  <meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="~/js/site.js"></script>

@if (User.IsInRole("TEACHER"))
{
   <h4><i>Учитель</i></h4>
}
@if (User.IsInRole("ADMIN"))
{
    <h4><i>Администратор</i></h4>
}
@if (User.IsInRole("STUDENT"))
{
    <h4><i>Ученик</i></h4>
}


 @using(Html.BeginForm()){
    @foreach (var item in Model)
    {
        <div>
            <h6>Фамилия</h6>
            @Html.DisplayFor(m => item.Employee.Surname)
            <p></p>
            <h6>Имя</h6>
            @Html.DisplayFor(m => item.Employee.FirstName)
            <p></p>          
            <p></p>
            <h6>Отчество</h6>
            @Html.DisplayFor(m => item.Employee.Patronym)
            
        </div>

        <div class="row onerow"></div>

        <div>
            <h6>Телефон</h6>
            @Html.DisplayFor(m => item.PhoneNumber)
            <p></p>
           <h6>Адрес</h6>
            @Html.DisplayFor(m => item.Employee.Address)
        </div>

        <div>
            <h6>Email</h6>
            @Html.DisplayFor(m => item.Email)
            <p></p>
            <h6>Логин</h6>
            @Html.DisplayFor(m => item.UserName)
            <p></p>
        </div>

        @*<div>
            <a href="@Html.DisplayFor(m => item.Employee.pathZoom)">Zoom</a>
        </div>*@

        @*<div>
            <h6> <a href="/Employee/Chat"> Общий чат </a></h6>
        </div>*@

        <div>
            @if (User.IsInRole("STUDENT"))
                {
                 <h6>Учитель</h6>
                 <a href="@Html.DisplayFor(m => item.Employee.pathZoom)"> @Html.DisplayFor(m => item.Employee.EmployeesNavig.FullName)</a>
                }
        </div>

        <div>
                @if (User.IsInRole("TEACHER"))
                {
                    <h6>
                        <a href="/Employee/Index2"> Ученики </a>
                    </h6>

                    <h6>
                        <a href="@Html.DisplayFor(m => item.Employee.pathZoom)">Администратор</a>
                    </h6>
                }
            </div>

            <div>
                @if (User.IsInRole("ADMIN"))
                {
                    <h6>
                        <a href="/Employee/Index3"> Пользователи </a>
                    </h6>
                }
            </div>
   
    }  
    
}
