@model IEnumerable<Sait2022.Domain.Model.Employee>

@{
    ViewData["Title"] = "Личный кабинет";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/site.js"></script>
 @using(Html.BeginForm("Index","Employee", FormMethod.Post))
    {
    @foreach(var item in Model)
    {
        <div>
            <h6>Имя</h6>
            @Html.DisplayFor(m => item.FirstName)
            <h6>Фамилия</h6>
            @Html.DisplayFor(m => item.Surname)
        </div>
        <div></div>
        <div>
            <h6>Отчество</h6>
            @Html.DisplayFor(m => item.Patronym)
            <h6>Телефон</h6>
            @Html.DisplayFor(m => item.PhoneNumber)
            <h6>Адрес</h6>
            @Html.DisplayFor(m => item.Address)
        </div>
    }
}